# Demo 1

<table><tr>
    <td><img src="image/esi-sba.png" width="100" height="100"></td>
    <td><img src="image/mongo.png" width="100" height="100"></td>
    </tr></table>

### Lancer un conteneur de MONGO
   
! docker-compose up –d

#### installer pymongo afin de se connecter au cluster mongodb

! pip install pymongo

In [1]:
from pymongo import MongoClient

### We are then free to add useful methods as needed. These methods are wrappers for core pymongo collection methods including the following:
* find()
* find_one()
* insert_one()
* insert_many()
* update_one()
* update_many()
* delete_one()
* delete_many()

### Créer un Mongo Client afin d'exécuter nos requêtes sur MONGODB Server

In [2]:
client = MongoClient('mongodb://localhost:27017/')

###  Afficher les différentes  databases

In [3]:
client.list_database_names()

['admin', 'config', 'dblp', 'local']

### Créer une "database variable" pour travailler avec la BDD "db1"

In [4]:
db = client["db1"]

### Récupérer les collections de la BDD "db1"

In [5]:
db.list_collection_names()

[]

###  Insérer un document dans la collection "users"

In [6]:
db["users"].insert_one({
                  "name": "Ali", 
                  "login": "ali89", 
                  "age": 29,
                  "address": {
                               "street": "12 gambitta", 
                               "city": "sba"
                             },
                  "job" : ["web", "BDD"]
                    })

###  #Docs

In [7]:
db["users"].count_documents({})

1

In [8]:
db["users"].find_one()

{'_id': ObjectId('619173d96e8ebc714cd45577'),
 'name': 'Ali',
 'login': 'ali89',
 'age': 29,
 'address': {'street': '12 gambitta', 'city': 'sba'},
 'job': ['web', 'BDD']}

### insertion multiple

In [9]:
userlist = [
  {"name":"Ahmed","login": "Ahmed77f", "age": 18,"address":{"street":"10 maconi","city": "sba"},"job" : ["web", "PHP"]},
  {"name":"said","login": "saidyy", "age": 25,"address":{"city": "oran"},"job" : ["web", "JAVA","PHP"]}, 
  {"name":"amine","login": "amine77"}  
]

db["users"].insert_many(userlist)

db["users"].count_documents({})

4

In [10]:
db["users"].find()

### Afficher tous les docs

In [11]:
# Display all records
for user in db["users"].find():
  print(user,'\n')

{'_id': ObjectId('619173d96e8ebc714cd45577'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('619173d96e8ebc714cd45578'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 18, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': ObjectId('619173d96e8ebc714cd45579'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': ObjectId('619173d96e8ebc714cd4557a'), 'name': 'amine', 'login': 'amine77'}

### Update

In [12]:
db["users"].update_one( 
                        {'name': 'Ali'},
                        { "$inc" : { "age" : 1 } } 
                   )

### Update multiple

In [13]:
db["users"].update( 
                        {'age': {'$lte':30}},
                        { '$set' : { 'job' : [] } } 
                   )

C:\Users\malki\AppData\Local\Temp/ipykernel_8824/3016927041.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  db["users"].update(

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

### .find( filtre , projection )

In [14]:
for user in db["users"].find({}, {"_id": 0,"name": 1,"age": 1}):
  print(user,'\n')

{'name': 'Ali', 'age': 30}

{'name': 'Ahmed', 'age': 18}

{'name': 'said', 'age': 25}

{'name': 'amine'}

### Recherche exacte

In [15]:
for user in db["users"].find( {'login' : "ali89"} , {'name' : 1, 'age' : 1}):
  print(user,'\n')

{'_id': ObjectId('619173d96e8ebc714cd45577'), 'name': 'Ali', 'age': 30}

### Filtrage dans une imbrication

In [16]:
for user in db["users"].find( { 'address.city' : 'sba'}):
  print(user,'\n')

{'_id': ObjectId('619173d96e8ebc714cd45577'), 'name': 'Ali', 'login': 'ali89', 'age': 30, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': []}

{'_id': ObjectId('619173d96e8ebc714cd45578'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 18, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

### Filtrage avec opération 
* \\$gt, \\$gte, \\$lt, \\$lte, \\$ne, \\$in, \\$nin, \\$or, \\$and, \\$regex, \\$exists, \\$type, \\$size, …

In [17]:
for user in db["users"].find( { 'age' :{ '$gt' : 20 }},  {"_id": 0,"name": 1,"age": 1} ):
  print(user,'\n')

{'name': 'Ali', 'age': 30}

{'name': 'said', 'age': 25}

In [18]:
for user in db["users"].find( { 'login' :{ '$regex' : '^a', '$options':'i'}},  {"_id": 0,"name": 1,"login": 1} ):
  print(user,'\n')

{'name': 'Ali', 'login': 'ali89'}

{'name': 'Ahmed', 'login': 'Ahmed77f'}

{'name': 'amine', 'login': 'amine77'}

### Filtrage sur un tableau

In [19]:
for user in db["users"].find( { 'job' : 'BDD'} ): #dans la liste
  print(user,'\n')

In [20]:
for user in db["users"].find( {'job.1' : 'BDD'} ): #2éme place de la liste
  print(user,'\n')

In [21]:
for user in db["users"].find( { 'job' : ['web', 'BDD']} ):  #recherche exacte
  print(user,'\n')

### SORT,  DISTINCT, COUNT

In [22]:
for user in db["users"].find().sort("name"):
    print(user,'\n')

{'_id': ObjectId('619173d96e8ebc714cd45578'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 18, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': ObjectId('619173d96e8ebc714cd45577'), 'name': 'Ali', 'login': 'ali89', 'age': 30, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': []}

{'_id': ObjectId('619173d96e8ebc714cd4557a'), 'name': 'amine', 'login': 'amine77'}

{'_id': ObjectId('619173d96e8ebc714cd45579'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

In [23]:
for user in db["users"].distinct( 'address.city'):
    print(user,'\n')

oran

sba

In [24]:
print('# docs in Users collection =',db["users"].count(),'\n')

print('# user whose age is 18=', db["users"].find( { 'age' : 18 }).count()) #

# docs in Users collection = 4

# user whose age is 18= 1

C:\Users\malki\AppData\Local\Temp/ipykernel_8824/639996609.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  print('# docs in Users collection =',db["users"].count(),'\n')
C:\Users\malki\AppData\Local\Temp/ipykernel_8824/639996609.py:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  print('# user whose age is 18=', db["users"].find( { 'age' : 18 }).count()) #

### Pipeline: aggregate

In [25]:
result=db["users"].aggregate([  
                              {'$match' : {"address.city" : 'sba'}},
                              {'$project' : {"login" : 1, "age" : 1}}, 
                              {'$sort' : {"age" : 1, "login" : -1}}
                             ]);

for user in result:
    print(user,'\n')

{'_id': ObjectId('619173d96e8ebc714cd45578'), 'login': 'Ahmed77f', 'age': 18}

{'_id': ObjectId('619173d96e8ebc714cd45577'), 'login': 'ali89', 'age': 30}

### Pipeline: \\$Unwind

In [26]:
result=db["users"].aggregate([  
                              {'$unwind' : "$job"}
                            ]);

for user in result:
    print(user,'\n')

{'_id': ObjectId('619173d96e8ebc714cd45578'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 18, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': 'web'}

{'_id': ObjectId('619173d96e8ebc714cd45578'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 18, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': 'PHP'}

{'_id': ObjectId('619173d96e8ebc714cd45579'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'web'}

{'_id': ObjectId('619173d96e8ebc714cd45579'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'JAVA'}

{'_id': ObjectId('619173d96e8ebc714cd45579'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'PHP'}

### Pipeline: \\$GROUP

In [27]:
result=db["users"].aggregate([  
                              {'$group':{"_id" : "$age", "res": {'$sum' : 1}}}

                            ]);

for user in result:
    print(user,'\n')

{'_id': None, 'res': 1}

{'_id': 18, 'res': 1}

{'_id': 30, 'res': 1}

{'_id': 25, 'res': 1}

In [30]:
result=db["users"].aggregate([  
                              {'$match': {"address.city" : "sba"}},
                              {'$unwind' : "$job"},
                              {'$group' : {"_id" : "$job", "moy": {'$avg': "$age"}} },
                              {'$match' : {"moy" : {'$gt' : 10}} },
                              {'$sort' : { "moy" : -1} } 

                            ]);

for user in result:
    print(user,'\n')

{'_id': 'PHP', 'moy': 18.0}

{'_id': 'web', 'moy': 18.0}